/* Inline code */
p > code {
    background-color: #111313;
    border: 1px dashed #555;
    margin: 0.3em;
}

/* Code blocks */
pre.sourceCode {
    background-color: #0b0e0f;
    border: 1px dashed #555;
    overflow-x: auto;
    line-height: 120%;
    margin-bottom: 1em;
}

code.sourceCode > div.sourceLine {
    display: inline;
}

/* Syntax highlighting */
code span.kw { color: #ffa600; } /* Keyword */
code span.dt { color: #85c600; } /* DataType */
code span.dv { color: #e0374f; } /* DecVal */
code span.bn { color: #e0374f; } /* BaseN */
code span.fl { color: #e0374f; } /* Float */
code span.ch { color: #e0374f; } /* Char */
code span.st { color: #e0374f; } /* String */
code span.co { color: #0099bc; } /* Comment */
code span.ot { color: #e50c88; } /* Other */
code span.al { color: #e0374f; } /* Alert */
code span.fu { color: #d78787; } /* Function */
code span.re {                 } /* RegionMarker */
code span.er { color: #ff0000; font-weight: bold; } /* Error */
