<article>
<header>
<h1>$title$</h1>
<p>by <em>$author$</em> on <strong>$date$</strong></p>
<p>Tagged as: $prettytags$.</p>
</header>

<section>
$body$
</section>
</article>
<footer>
<script src="https://utteranc.es/client.js"
        repo="haasn/blog"
        issue-term="pathname"
        label="comments"
        theme="photon-dark"
        crossorigin="anonymous"
        async>
</script>
<noscript>
        <h2>comments and questions can be left <a href="https://github.com/haasn/blog/issues">here</a></h2>
        (or you could enable JavaScript and get comment integration)
</noscript>
</footer>
